<!-- #navbar #tabs #tabbar #navigationTabs #queryParams #paramMap #params #hash #fragment -->
<nav mat-tab-nav-bar [tabPanel]="tabPanel" [disablePagination]="true">
  <ng-container *ngFor="let tab of navigationTabs; index as i">
    <a
      *ngIf="tab.isShown"
      mat-tab-link
      [disabled]="tab.isDisabled"
      [ngClass]="'mat-tab-link'"
      (click)="activeLink = tab.url"
      [routerLink]="[tab.url]"
      routerLinkActive
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla.isActive"
    >
      {{ tab.name }}
    </a></ng-container
  >
</nav>
<mat-tab-nav-panel #tabPanel><ng-content></ng-content></mat-tab-nav-panel>
<!-- <pre>
  activeLink: {{ activeLink | json }}
  navigationTabs: {{ navigationTabs | json }}
</pre> -->
